a, a:hover  {
	text-decoration: none !important;
}

.text-center {
	text-align: center !important;
	align-items: center !important;
	justify-content: center !important;
}

tr, td, th {
	text-align: center;
}

.display-none {
	display: none;
}

.view_members {
	margin-top: -70px;
}